<div class="flex h-screen flex-col items-center gap-2">
  <h1>Send Mails</h1>
  <form [formGroup]="sendMails" (submit)="send()">
    <div class="mb-10 space-y-3">
      <div class="space-y-1">
        <div class="space-y-2">
          <div class="flex">
            <input
              formControlName="recipient_mail_id"
              value="recipient_mail_id"
              placeholder="Enter the mail ids of the people you want to send the mails"
              class="w-fit h-10 border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none content-stretch focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            />
            <button (click)="add()">Add</button>
          </div>
          <input
            formControlName="mail_subject"
            value="mail_subject"
            placeholder="Enter subject"
            class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          />
          <input
            formControlName="mail_text"
            value="mail_text"
            placeholder="Enter text"
            class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          />
        </div>
      </div>
      <button
        type="submit"
        class="ring-offset-background focus-visible:ring-ring flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-black px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-black/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Submit
      </button>
    </div>
  </form>
</div>
