<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class = "flex justify-between"
      >
        <img src="assets/mail-227.svg" class="h-8" />
    <h1 class = "justify-self-center self-center">Mailing Service</h1>

      </a>
    
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    @if(logStatus == "true"){
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <div class="flex items-center mb-4 gap-3">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="text-blue-700 text-md hover:text-black"
          >Home</a
        >

        <button (click)="onLogOut()" routerLink="/login">Logout</button>
      </div>
    </div>
    } @else if(logStatus == "false" && route.url != "/login"){
    <a
      routerLink="/login"
      routerLinkActive="active"
      class="text-md hover:text-blue-800"
      >Login
    </a>

    }
    @else {
      <a
      routerLink="/register"
      routerLinkActive="active"
      class="text-md hover:text-blue-800"
      >Register
    </a>
    }
  </div>
</nav>
